 html, body {
    overflow: hidden;
}

div {
    border: 1px black solid;
    border-radius: 3px;
    background-color: white;
}

.freshLeaf {
    position: absolute;
    width: 300px;
    height: 100px;
} 
.freshLeaf span {
    position: absolute;
    height: 15px;
    width: 10px;
    border: 1px black solid;
    border-radius: 5px;
    background: black;

}
.outlet {
    left: 294px;
    top: 45px;

}

.inlet{
    left: -6px;
    top: 45px;

}