body {
  /*background-color: #eeF;*/
  background-image: url("/images/backgrounddot.png");
  background-repeat: repeat;
  background-size:15px;

}

.leaf {
   /*color: #fff;*/
   border: 1px solid black;
}

.leaf h3 {
  border: 1px solid black;
  margin: 0;
  padding: 5px 0 5px 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  background: white;
  position: absolute;
  top: -2em;
  left: 0;
  /*z-index: 1;*/
  /* oh shit, does being position absolute implicitely place it above unpositioned elements? */
  /*  terminal headers have zindex 1 to float above promps and results. 
   *  To prevent the header from stacking on top of other elements 
   *   Each terminal has its stacking context isolated*/
}

.terminal h3 {
  /*Make terminals impervious to leaf headers being hidden*/
  visibility: visible;
  top: -10px;
  border: none;
  border-bottom: 1px solid black;
  padding: 15px 0 5px 0;

}

.terminal {
  background-color: rgba(255,255,255,1);
  width: 400px;
  height: 250px;
  padding: 5px;
  overflow-y: scroll;
/*  isolation: isolated; */ /*turns out this is not a thing*/ /* maintain proper stacking even with zindexed header */
  font-family: 'VT323', monospace;

}

div:focus {
  z-index: 2; /* Any element with focus should stack on top of all other elements */
}

.terminal:focus {
  /*background-color: rgba(0,0,200,0.3);*/
  box-shadow: 5px 5px 20px black;
}

.terminal p {
  margin: 0;
  line-height: 1.5em;

}
.terminal p:first-of-type {
  margin-top: 1.5em;
}

.terminal::-webkit-scrollbar {
  display: none;
}

.request {
	width: 100%;
	height: 1.5em;
	background-color: black;
}

.draggingHappening {
  user-select: none;
}

